<!doctype html>
<html>
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		<title>Project Lists</title>
	</head>
	<body>
		<h1>Registered Projects</h1>
		<table>
			<tr>
				<th>Project ID</th>
				<th>Project Name</th>
        <th>Project Description</th>
        <th>Project Proposer</th>        
			</tr>
			{% for record in data %}
			<tr>
				{% for value in record %}
				<td>{{value}}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
      
    <form action="{{url_for("proj_form")}}">
      <input type="Submit" value="Register new project">
    </form>
	</body>
</html>